@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

:root {
  --brick-red: #db5049;
  --primary: #e9e9e9;
  --secondary: #454a48;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transform: translateY(10px);
  height: 3em;
  width: 1em;
  border-radius: 8px;
  background-color: var(--brick-red);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  transform: translateY(10px);
  height: 3em;
  width: 1em;
  border-radius: 8px;
  background-color: var(--brick-red);
  border: none;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  transform: translateY(10px);
  height: 3em;
  width: 1em;
  border-radius: 8px;
  background-color: var(--brick-red);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}
